<p>login works!</p>
<!-- <asl-google-login-button class=g_id_signin   type='icon' size='medium' (click)="loginWithGoogle()">1</asl-google-login-button> -->
<!-- login.component.html -->
<button (click)="loginWithGoogle()">Sign in with Google Authenticator</button>
<!-- <asl-google-signin-button [config]="googleSignInConfig" (click)="loginWithGoogle()">Hello</asl-google-signin-button> -->

<!-- <button (click)="handleGoogleLogin()">Login with google</button> -->
<!-- <button (click)="handleGoogleLogin()">Sign in with Google</button> -->
<!-- <app-login (loginWithGoogle)="handleGoogleLogin()"></app-login> -->

<!-- <button (click)="loginWithGoogle()" mat-raised-button class="google-login-btn" g_id_signin>
    Google
  </button>  -->
  
    <!-- <button  (click)="loginWithGoogle()" >
      Google
    </button>  -->
  
  <!-- <div class="google_signin">
    <button>    <asl-google-signin-button class="g_id_signin " type='standard' size='medium' (click)="loginWithGoogle()">button</asl-google-signin-button>
    </button>
    <asl-google-signin-button class="g_id_signin " type='standard' size='medium' (click)="loginWithGoogle()">button</asl-google-signin-button>
</div> -->
  <!-- <div id="g_id_onload"
  data-client_id="784816838030-g5r0jcfvbv5hceec021p6c33l7ocph8a.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-login_uri="http://localhost:7410/login"
  data-nonce=""
  data-auto_prompt="false">
</div>

<div class="g_id_signin"
  data-type="standard"
  data-shape="pill"
  data-theme="filled_blue"
  data-text="signin"
  data-size="medium"
  data-logo_alignment="center"
  data-width="80px">
</div> -->





<br>
<!-- <asl-google-signin-button class="g_id_signin " data-shape="pill" data-theme="filled_blue" data-text="signin" data-size="medium" data-logo_alignment="center" (click)="loginWithGoogle()">
  <button>
    Google
  </button>
</asl-google-signin-button> -->
<!-- <asl-google-signin-button (click)="loginWithGoogle()">Sign in with Google</asl-google-signin-button> -->